.header-button {
    margin: 0 1em 1em;
}

.button {
    text-align: center;
    cursor: pointer;
    width: 1%;
}

.edit {
    color: #005b00;
    &:hover {
        color: #00ff00;
    }

}

.delete {
    color: rgba(189, 0, 0, 0.99);
    &:hover {
        color: #ff97aa;
    }
}

.total {
    border-top: 2px solid;
    padding-top: 0.5em;
}

.d-n {
    display: none;
}